
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#Chicken-Grid h2 {
  text-align: center;

}

#Chicken-Grid {
  background-color: yellow;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
}

#Chicken-Grid div {
  background-color: green;
  margin-left: 20px;
  margin-right: 20px;
  height: 1000px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
/**************extra small devices only *********/
@media (max-width: 767px) {
	#collapsable-nav {
	background-color: yellow; }}
